# Analise COVID-19

A Analise será baseada em obitos de covid-19 com informações de 3 anos para tirarmos um total.

In [53]:
import pandas as pd
import matplotlib

#Importação dataset
Data = pd.read_csv("database/WHO-COVID-19-global-data.csv",sep=',',encoding='ISO-8859-1')

Data.head()

,ï»¿Data_Reportada,Codigo_Pais,Pais,Regiao,Novos_Casos,Casos_Acumulados,Novas_mortes,Mortes_Acumuladas
0,2020-01-03,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
1,2020-01-04,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
2,2020-01-05,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
3,2020-01-06,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
4,2020-01-07,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0

In [54]:
Data.columns.values

array(['ï»¿Data_Reportada', 'Codigo_Pais', 'Pais', 'Regiao',
       'Novos_Casos', 'Casos_Acumulados', 'Novas_mortes',
       'Mortes_Acumuladas'], dtype=object)

* Abaixo podemos filtrar as colunas selecionadas porém nesse caso vamos utilizar todas.

In [56]:
Colunas = ['Data_Reportada', 'Codigo_Pais', 'Pais', 'Regiao',
       'Novos_Casos', 'Casos_Acumulados', 'Novas_mortes',
       'Mortes_Acumuladas']
DadosFiltrados = Data.filter(items =  Colunas)
DadosFiltrados

,Codigo_Pais,Pais,Regiao,Novos_Casos,Casos_Acumulados,Novas_mortes,Mortes_Acumuladas
0,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
1,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
2,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
3,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
4,AF,Afghanistan,EMRO,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
140536,ZW,Zimbabwe,AFRO,800.0,118754.0,56.0,4047.0
140537,ZW,Zimbabwe,AFRO,754.0,119508.0,26.0,4073.0
140538,ZW,Zimbabwe,AFRO,0.0,119508.0,0.0,4073.0
140539,ZW,Zimbabwe,AFRO,580.0,120088.0,36.0,4109.0
140540,ZW,Zimbabwe,AFRO,444.0,120532.0,29.0,4138.0

* Agrupando genero de pessoas

In [57]:
coluna_pais = DadosFiltrados['Codigo_Pais']
#numero de mortes por genero
coluna_pais.value_counts().sort_index()

      593
AD    593
AE    593
AF    593
AG    593
     ...
YE    593
YT    593
ZA    593
ZM    593
ZW    593
Name: Codigo_Pais, Length: 235, dtype: int64

* agrupando estado de pessoas

In [58]:
pais = DadosFiltrados['Pais']
#numero de mortes por genero
pais.value_counts().sort_index()

Afghanistan          593
Albania              593
Algeria              593
American Samoa       593
Andorra              593
                    ...
Viet Nam             593
Wallis and Futuna    593
Yemen                593
Zambia               593
Zimbabwe             593
Name: Pais, Length: 236, dtype: int64